.wrapper {
  padding: 20px;
  border: 1px solid #2f2f2f;
}

.buttons {
  display: flex;
  gap: 10px;
}

.title {
  display: flex;
  align-items: center;
}

.title span {
  display: block;
  font-size: 20px;
  margin-right: 5px;
}

.title strong {
  display: block;
  margin-left: auto;
  font-size: 16px;
  background-color: #6f4711;
  border-radius: 33px;
  padding: 2px 10px;
  font-weight: normal;
}

.subtitle {
  display: flex;
  align-items: center;
}

.subtitle:last-child {
  margin-top: 8px;
}

.subtitle span {
  display: block;
  font-size: 16px;
  margin-right: 5px;
  color: #a2a2a2;
}

.subtitle strong {
  display: block;
  margin-left: auto;
  font-size: 14px;
  background-color: #444444;
  border-radius: 33px;
  padding: 2px 10px;
  font-weight: normal;
  color: #a2a2a2;
}

.link {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.link span {
  margin-right: 10px;
}

.importSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.importLabel {
  font-size: 16px;
  color: #a2a2a2;
}

.importButtons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}

.exportSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exportLabel {
  font-size: 16px;
  color: #a2a2a2;
}

.exportButtons {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
}
