.tableContainer {
  border: 1px solid #2f2f2f;
  border-radius: 10px !important;
  overflow: hidden;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  border: 1px solid #2f2f2f;
}

.table tr:nth-child(even) {
  background-color: #2c2c2c;
}

.table tr td {
  padding: 5px;
}

.table tr td:first-child {
  color: #606060;
  text-align: center;
}

.table tr td:nth-child(3),
.table tr td:nth-child(4),
.table tr td:nth-child(5) {
  text-align: center;
}

.empty {
  font-size: 16px;
}
