.wrapper {
  border-radius: 10px !important;
  border: none !important;
  outline: none !important;
  min-height: 44px !important;
  height: 44px !important;
  padding: 10px 18px !important;
  background-color: #444444 !important;
  color: #fff !important;
  font-weight: 400 !important;
  cursor: pointer !important;
  font-size: 16px !important;
  line-height: 1 !important;
}

.wrapper:hover {
  background-color: #555555 !important;
}

.primary {
  background-color: #6f4711 !important;
}

.primary:hover {
  background-color: #7f5711 !important;
}

.link {
  background-color: transparent !important;
  color: #fff !important;
  padding: 0 !important;
  height: auto !important;
  min-height: auto !important;
}

.link:hover {
  background-color: transparent !important;
  text-decoration: underline !important;
}
