.label {
  color: #aaa;
  margin-bottom: 15px;
  font-size: 16px;
}

.text {
  font-size: 18px;
}

.showAnswer {
  background-color: #444444;
  border-radius: 10px;
  height: 40px;
  color: #fff;
  border: 0;
  padding: 0 18px;
  cursor: pointer;
}

.showAnswer:hover {
  background-color: #6f4711;
}
