.label {
  color: #aaa;
  margin-bottom: 15px;
  font-size: 16px;
}

.translation {
  font-size: 18px;
  color: #b0b0b0;
}

.inputsWrapper {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
}

.checkBtn {
  background-color: #444444;
  border-radius: 10px;
  height: 40px;
  color: #fff;
  border: 0;
  padding: 0 18px;
  cursor: pointer;
}

.checkBtn:hover:not(:disabled) {
  background-color: #6f4711;
}

.checkBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
