.label {
  color: #aaa;
  margin-bottom: 15px;
  font-size: 16px;
}

.gradesWrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gradeBtn {
  background-color: #444444;
  border-radius: 10px;
  height: 40px;
  color: #fff;
  border: 0;
  padding: 0 18px;
  cursor: pointer;
}

.gradeBtn:hover {
  background-color: #6f4711;
}
