.header {
  display: flex;
  margin-bottom: 20px;
}

.searchInput {
  border-radius: 6px;
  background-color: #2c2c2c;
  padding: 7px 10px;
  border: 1px solid #2f2f2f;
  outline: none;
  color: #fff;
  display: block;
  width: 200px;
  margin-right: auto;
  height: 30px;
  font-size: 14px;
}

.searchInput:focus {
  border-color: #fff;
}

.searchInput::placeholder {
  color: #a2a2a2;
}

.btn {
  width: 30px;
  height: 30px;
  background-color: #2c2c2c;
  border: 1px solid #2f2f2f;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2a2a2;
  cursor: pointer;
}

.btn:hover {
  background-color: #3a3a3a;
  color: #fff;
}

.sortBtn {
  margin-right: 6px;
}

.filterBtnWrapper {
  position: relative;
}

.filterDropdown {
  position: absolute;
  top: 35px;
  right: 0;
  background-color: #2c2c2c;
  border: 1px solid #2f2f2f;
  border-radius: 9px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 10px;
  width: 270px;
}

.filterDropdownItem {
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  font-size: 14px;
}

.filterDropdownItem:last-child {
  margin-bottom: 0;
}

.checkboxBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a2a2a2;
  margin-left: auto;
  padding: 0;
}

.filterDropdownItemIcon {
  margin-right: 5px;
}

.filterDropdownItemLabel {
  margin-right: 5px;
}

.sortDropdownItem {
  margin-bottom: 10px;
  font-size: 14px;
}

.sortDropdownItem:last-child {
  margin-bottom: 0;
}

.sortItemBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #a2a2a2;
  padding: 0;
  width: 100%;
  display: flex;
}

.sortItemBtn:hover {
  color: #fff;
}

.sortItemBtn.active {
  color: #fff;
}

.sortDropdownItemIcon {
  margin-left: auto;
  font-size: 12px;
}
